*{
    margin: 0 auto;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Manrope', sans-serif;
}
.header{
    background-color: #ffffff;
    height: 61px;
    width: 100%;
}
.logo{
    width: auto;
    margin-left: 30px;
}
nav{
    display: flex;
    top: 17px;
    margin-left: 85px;
    justify-content: space-between;
    align-items: center;
}
.header h1{
    font-size: 20px;
    color: #6BAF92;
    font-family: 'Lato', sans-serif;
}
nav img{
    width: 25px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #292929;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #6BAF92;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

@media(max-width: 700px){
    .text h1{
        font-size: 14px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #6BAF92;
        height: 61px;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #6BAF92;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 15px;
    }
}